.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}


.e71_26 {
   overflow: hidden;
}

.e71_26 {
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 1920px;
   height: 1080px;
   position: absolute;
}

.e100_150 {
   box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
   background-color: rgba(253.0000001192093, 222.00000196695328, 69.00000348687172, 1);
   width: 1566px;
   height: 893px;
   position: absolute;
   left: 177px;
   top: 93px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.e420_4 {
   color: rgba(0, 0, 0, 1);
   width: 225px;
   height: 49px;
   position: absolute;
   left: 752px;
   top: 404px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}

.e71_2 {
   width: 50px;
   height: 50px;
   position: absolute;
   left: 20px;
   top: 20px;
   background-image: url(../images/image_1.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.e71_30 {
   color: rgba(0, 0, 0, 1);
      width: 88.47615051269531px;
      height: 19px;
      position: absolute;
      left: 81px;
      top: 20px;
      font-family: 'Noto Sans CJK KR bold';
      text-align: left;
      font-size: 17px;
      letter-spacing: 0;
      line-height: px;
      letter-spacing: -1px
}

.e71_31 {
   color: rgba(0, 0, 0, 1);
      width: 195.1313934326172px;
      height: 19px;
      position: absolute;
      left: 81px;
      top: 44px;
      font-family: 'Noto Sans CJK KR bold';
      text-align: left;
      font-size: 17px;
      letter-spacing: 0;
      line-height: px;
      letter-spacing: -1px
}

.e71_46 {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   background-color: rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
   width: 1466px;
   height: 20px;
   position: absolute;
   left: 227px;
   top: 132px;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
}

.e71_47 {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 336px;
   height: 649px;
   position: absolute;
   left: 1338px;
   top: 231px;
}

.e99_147 {
   color: rgba(0, 0, 0, 1);
   width: 117px;
   height: 72px;
   position: absolute;
   left: 1447px;
   top: 504px;
   font-family: Noto Sans KR;
   text-align: center;
   font-size: 20px;
   letter-spacing: 0;
}

.e111_3 {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 441px;
   height: 381px;
   position: absolute;
   left: 250px;
   top: 231px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

.e111_4 {
   color: rgba(0, 0, 0, 1);
   width: 148px;
   height: 33px;
   position: absolute;
   left: 397px;
   top: 405px;
   font-family: Inter;
   text-align: left;
   font-size: 25px;
   letter-spacing: 0;
}

.e272_49 {
   color: rgba(36.00000165402889, 41.00000135600567, 47.0000009983778, 1);
      width: 138.17710876464844px;
      height: 24px;
      position: absolute;
      left: 1690px;
      top: 30px;
      font-family: 'Noto Sans CJK KR bold';
      text-align: center;
      font-size: 20px;
      letter-spacing: -1.2999999523162842;
      line-height: px;
      letter-spacing: -1px
}

.e272_50 {
   color: rgba(36.00000165402889, 41.00000135600567, 47.0000009983778, 1);
      width: 138.17710876464844px;
      height: 24px;
      position: absolute;
      left: 1574px;
      top: 30px;
      font-family: 'Noto Sans CJK KR bold';
      text-align: center;
      font-size: 20px;
      letter-spacing: -1.2999999523162842;
      line-height: px;
      letter-spacing: -1px
}

.e272_51 {
   width: 56px;
   height: 56px;
   position: absolute;
   left: 1812px;
   top: 18px;
   background-image: url(../images/image_2.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.e420_2 {
   color: rgba(0, 0, 0, 1);
   width: 165px;
   height: 37px;
   position: absolute;
   left: 782px;
   top: 730px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}

.e420_3 {
   color: rgba(0, 0, 0, 1);
   width: 225px;
   height: 49px;
   position: absolute;
   left: 752px;
   top: 241px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}

.e420_6 {
   color: rgba(0, 0, 0, 1);
   width: 225px;
   height: 49px;
   position: absolute;
   left: 752px;
   top: 567px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}



.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}