.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}


.e71_26 {
   overflow: hidden;
}

.e71_26 {
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 1920px;
   height: 1080px;
   position: absolute;
}

.e100_150 {
   box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
   background-color: rgba(253.0000001192093, 222.00000196695328, 69.00000348687172, 1);
   width: 1566px;
   height: 893px;
   position: absolute;
   left: 177px;
   top: 93px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}



.e71_2 {
   width: 50px;
   height: 50px;
   position: absolute;
   left: 20px;
   top: 20px;
   background-image: url(../images/image_1.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.e71_30 {
   color: rgba(0, 0, 0, 1);
      width: 88.47615051269531px;
      height: 19px;
      position: absolute;
      left: 81px;
      top: 20px;
      font-family: 'Noto Sans CJK KR bold';
      text-align: left;
      font-size: 17px;
      letter-spacing: 0;
      line-height: px;
      letter-spacing: -1px
}

.e71_31 {
   color: rgba(0, 0, 0, 1);
      width: 195.1313934326172px;
      height: 19px;
      position: absolute;
      left: 81px;
      top: 44px;
      font-family: 'Noto Sans CJK KR bold';
      text-align: left;
      font-size: 17px;
      letter-spacing: 0;
      line-height: px;
      letter-spacing: -1px
}

.e71_46 {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   background-color: rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
   width: 1466px;
   height: 20px;
   position: absolute;
   left: 227px;
   top: 132px;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
}

.e71_46 .black-circle-normal {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   transition: transform 0.3s;
}

.e71_46 .black-circle-normal:hover {
   background-color: black;
   transform: scale(5);
}
.e71_46 .black-circle-unique {
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: black;
   transition: transform 0.3s;
}

.e71_46 .black-circle-unique:hover {
   background-color: black;
   transform: scale(5);
}
.text-overlay {
   position: absolute;
   top: 150%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black;
   font-size: 4px;
   font-weight: bold;
   opacity: 0;
   pointer-events: none;
   white-space: nowrap;
   transition: opacity 0.1s;
}

.e71_46 .black-circle-normal:hover .text-overlay {
   opacity: 1;
}
.e71_46 .black-circle-unique:hover .text-overlay {
   opacity: 1;
}



.e71_47 {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 336px;
   height: 649px;
   position: absolute;
   left: 1338px;
   top: 231px;
}

.e99_147 {
   color: rgba(0, 0, 0, 1);
   width: 117px;
   height: 72px;
   position: absolute;
   left: 1447px;
   top: 504px;
   font-family: Noto Sans KR;
   text-align: center;
   font-size: 20px;
   letter-spacing: 0;
}
.e602_25 {
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 375px;
   height: 50px;
   position: absolute;
   left: 1312px;
   top: 204px;
}

.e111_3 {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 1004px;
   height: 400px;
   position: absolute;
   left: 232px;
   top: 204px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
   /* filter: blur(3px);
   -webkit-filter: blur(3px); */
}
.e111_3_keyword {
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 1004px;
   height: 400px;
   position: absolute;
   left: 232px;
   top: 204px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
   /* filter: blur(3px);
   -webkit-filter: blur(3px); */
}
.tag_div{
   width: 90%;
   height: 99%;
   padding-left: 40px;
}
#container{
   width: 100%;
   height: 100%;
}
.e585_16 {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 1004px;
   height: 316px;
   position: absolute;
   left: 232px;
   top: 636px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

.e602_19 {
   background-color: rgba(255, 255, 255, 1);
   width: 978px;
   height: 289px;
   position: absolute;
   left: 245px;
   top: 650px;
   border-radius: 40px;
}

.e602_22 {
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(255, 255, 255, 1);
   width: 260px;
   height: 277px;
   position: absolute;
   left: 607px;
   top: 657px;
   border-radius: 25px;
}

.e602_23 {
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(255, 255, 255, 1);
   width: 260px;
   height: 277px;
   position: absolute;
   left: 936px;
   top: 655px;
   border-radius: 25px;
}

.e602_27 {
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
   background-color: rgba(255, 226.78835302591324, 87.55002290010452, 1);
   width: 281px;
   height: 69px;
   position: absolute;
   left: 576px;
   top: 370px;
   border-radius: 100px;
}

.e111_4 {
   color: rgba(0, 0, 0, 1);
   width: 170px;
   height: 33px;
   position: absolute;
   left: 655px;
   top: 388px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}
.e602_26 {
   color: rgba(0, 0, 0, 1);
   width: 181px;
   height: 33px;
   position: absolute;
   left: 1409px;
   top: 213px;
   font-family: 'Noto Sans CJK KR';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}

.e602_30 {
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20000000298023224);
   border-radius: 500px;
   background-color: rgba(255, 255, 255, 1);
   width: 65px;
   height: 65px;
   position: absolute;
   left: 579px;
   top: 372px;
}

.e602_29 {
   width: 42px;
   height: 42px;
   position: absolute;
   left: 590px;
   top: 383px;
   background-image: url(../images/image_15.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.e420_4 {
   color: rgba(0, 0, 0, 1);
   width: 225px;
   height: 49px;
   position: absolute;
   left: 625px;
   top: 669px;
   font-family: 'Noto Sans CJK KR';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}

.e420_3 {
   color: rgba(0, 0, 0, 1);
   width: 225px;
   height: 49px;
   position: absolute;
   left: 295px;
   top: 669px;
   font-family: 'Noto Sans CJK KR';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}

.e420_6 {
   color: rgba(0, 0, 0, 1);
   width: 225px;
   height: 49px;
   position: absolute;
   left: 954px;
   top: 669px;
   font-family: 'Noto Sans CJK KR';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}
.e272_49 {
   color: rgba(36.00000165402889, 41.00000135600567, 47.0000009983778, 1);
      width: 138.17710876464844px;
      height: 24px;
      position: absolute;
      left: 1690px;
      top: 30px;
      font-family: 'Noto Sans CJK KR bold';
      text-align: center;
      font-size: 20px;
      letter-spacing: -1.2999999523162842;
      line-height: px;
      letter-spacing: -1px
}

.e272_50 {
   color: rgba(36.00000165402889, 41.00000135600567, 47.0000009983778, 1);
      width: 138.17710876464844px;
      height: 24px;
      position: absolute;
      left: 1574px;
      top: 30px;
      font-family: 'Noto Sans CJK KR bold';
      text-align: center;
      font-size: 20px;
      letter-spacing: -1.2999999523162842;
      line-height: px;
      letter-spacing: -1px
}

.e272_51 {
   width: 56px;
   height: 56px;
   position: absolute;
   left: 1812px;
   top: 18px;
   background-image: url(../images/image_2.png);
   background-repeat: no-repeat;
   background-size: cover;
}


.e420_5 {
   color: rgba(0, 0, 0, 1);
   width: 225px;
   height: 49px;
   position: absolute;
   left: 752px;
   top: 567px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: center;
   font-size: 25px;
   letter-spacing: 0;
}

.chattimes{
   width: 284px;
   height: 72px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   position: absolute;
   left: 774px;
   top: 311px;
   font-family: 'Noto Sans KR';
   font-size: 36px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.a {
   width: 284px;
   height: 72px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   position: absolute;
   left: 774px;
   top: 474px;
   font-family: 'Noto Sans KR';
   font-size: 36px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.b {
   width: 284px;
   height: 72px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   position: absolute;
   left: 774px;
   top: 637px;
   font-family: 'Noto Sans KR';
   font-size: 36px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.c {
   width: 284px;
   height: 72px;
   flex-shrink: 0;
   color: #000;
   text-align: center;
   position: absolute;
   left: 774px;
   top: 788px;
   font-family: 'Noto Sans KR';
   font-size: 36px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.e71_47 {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 375px;
   height: 748px;
   position: absolute;
   left: 1312px;
   top: 204px;
}

#keyword-form>button[type="submit"]{
   left: 576px;
   top: 370px;
   position: absolute;
   width: 281px;
   height: 80px;
   background: url( "../images/keyword.png" ) no-repeat;
   border: none;
   background-repeat: no-repeat;
   background-size: cover;
}

.e71_46 {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   background-color: rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
   width: 1466px;
   height: 20px;
   position: absolute;
   left: 227px;
   top: 132px;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative; /* 추가 */

}
.e71_46 .black-circle {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   transition: transform 0.3s;
}

.e71_46 .black-circle:hover {
   background-color: black;
   transform: scale(5);
}
.text-overlay {
   position: absolute;
   top: 150%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black;
   font-size: 8px;
   font-weight: bold;
   opacity: 0;
   pointer-events: none;
   white-space: nowrap;
   transition: opacity 0.1s;
}

.e71_46 .black-circle:hover .text-overlay {
   opacity: 1;
}

.chat-container {
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 375px;
   height: 748px;
   position: absolute;
   left: 1312px;
   top: 204px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   display: flex;
   flex-direction: column;
 }

 
 .message-username {
   font-size: 16px;
   color: #868383;
   margin-bottom: 3px;
   font-family: 'Noto Sans KR';
 }
 
 .my-message {
   padding: 10px;
   border-radius: 12px;
   
   
   word-wrap: break-word;
   color: #333;
   max-width: 100%;
   font-size: 18px;
   line-height: 1.5;
 }
 
 .other-message {
   padding: 10px;
   border-radius: 12px;
   
   color: #333;
  
   word-wrap: break-word;
   max-width: 100%;
   font-size: 18px;
   line-height: 1.5;
 }
 
 .chat-container::-webkit-scrollbar {
   width: 6px;
 }
 
 .chat-container::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 3px;
 }
 
 .chat-container::-webkit-scrollbar-track {
   background-color: transparent;
 }

.loading{
   position: absolute;
   width: 100px;
   height: 100px;
   top: 354px;
   left: 684px;
   background-image: url(../images/load1.gif);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}