.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}


.e272_2 {
   overflow: hidden;
}

.e272_2 {
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 1920px;
   height: 1080px;
   position: absolute;
}

.e272_3 {
   box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
   background-color: rgba(253.0000001192093, 222.00000196695328, 69.00000348687172, 1);
   width: 1566px;
   height: 893px;
   position: absolute;
   left: 177px;
   top: 93px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.e1 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(48.86170729994774, 47.662970423698425, 41.36959232389927, 0.05999999865889549);
   width: 338px;
   height: 584px;
   position: absolute;
   left: 222px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.e2 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(48.86170729994774, 47.662970423698425, 41.36959232389927, 0.05999999865889549);
   width: 338px;
   height: 584px;
   position: absolute;
   left: 601px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.e3 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(48.86170729994774, 47.662970423698425, 41.36959232389927, 0.05999999865889549);
   width: 338px;
   height: 584px;
   position: absolute;
   left: 980px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.e4 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(48.86170729994774, 47.662970423698425, 41.36959232389927, 0.05999999865889549);
   width: 338px;
   height: 584px;
   position: absolute;
   left: 1359px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}





.e271_5 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(48.86170729994774, 47.662970423698425, 41.36959232389927, 0.05999999865889549);
   width: 338px;
   height: 584px;
   position: absolute;
   left: 1738px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.e271_6 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(48.86170729994774, 47.662970423698425, 41.36959232389927, 0.05999999865889549);
   width: 338px;
   height: 584px;
   position: absolute;
   left: 2117px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.e272_39 {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   background-color: rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
   width: 1466px;
   height: 20px;
   position: absolute;
   left: 227px;
   top: 132px;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
}

.e272_4 {
   width: 50px;
   height: 50px;
   position: absolute;
   /* left: 20px;
   top: 20px; */
   /* background-image: url(images/header___heading_1___link___logo_webp.png); */
   background-repeat: no-repeat;
   background-size: cover;
}

.e272_5 {
   width: 50px;
   height: 50px;
   position: absolute;
   left: 0px;
   top: 0px;
   background-image: url(../images/image_1.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.e42__ {
   color: rgba(0, 0, 0, 1);
   width: 88.47615051269531px;
   height: 19px;
   position: absolute;
   left: 81px;
   top: 20px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: left;
   font-size: 17px;
   letter-spacing: 0;
   line-height: px;
   letter-spacing: -1px
}

.e42_3{
   color: rgba(0, 0, 0, 1);
   width: 195.1313934326172px;
   height: 19px;
   position: absolute;
   left: 81px;
   top: 44px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: left;
   font-size: 17px;
   letter-spacing: 0;
   line-height: px;
   letter-spacing: -1px
}

.e42_12 {
   color: rgba(36.00000165402889, 41.00000135600567, 47.0000009983778, 1);
   width: 138.17710876464844px;
   height: 24px;
   position: absolute;
   left: 1690px;
   top: 30px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: center;
   font-size: 20px;
   letter-spacing: -1.2999999523162842;
   line-height: px;
   letter-spacing: -1px
}

.e204_6 {
   color: rgba(36.00000165402889, 41.00000135600567, 47.0000009983778, 1);
   width: 138.17710876464844px;
   height: 24px;
   position: absolute;
   left: 1574px;
   top: 30px;
   font-family: 'Noto Sans CJK KR bold';
   text-align: center;
   font-size: 20px;
   letter-spacing: -1.2999999523162842;
   line-height: px;
   letter-spacing: -1px
}

.e54_2 {
   width: 56px;
   height: 56px;
   position: absolute;
   left: 1812px;
   top: 18px;
   background-image: url(../images/image_2.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.chat-container1 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 338px;
   height: 660px;
   position: absolute;
   left: 222px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   display: flex;
   flex-direction: column;
}

.chat-container2 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 338px;
   height: 660px;
   position: absolute;
   left: 601px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   display: flex;
   flex-direction: column;
}

.chat-container3 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 338px;
   height: 660px;
   position: absolute;
   left: 980px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   display: flex;
   flex-direction: column;
}

.chat-container4 {
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
   background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
   width: 338px;
   height: 660px;
   position: absolute;
   left: 1359px;
   top: 275px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   display: flex;
   flex-direction: column;
}

.chat-bubble {
   display: flex;
   flex-direction: column;
   max-width: 70%;
   padding: 5px;
   border-radius: 12px;
   font-family: 'Noto Sans KR ';
}

.message-username {
   font-size: 16px;
   color: #868383;
   margin-bottom: 3px;
   font-family: 'Noto Sans KR ';
}

.my_message {
   padding: 10px;
   border-radius: 12px;
   background-color: #F1D443;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   word-wrap: break-word;
   color: #333;
   max-width: 100%;
   font-size: 18px;
   line-height: 1.5;
 }
 .other_message {
   padding: 10px;
   border-radius: 12px;
   background-color: #EAEAEA;
   color: #333;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   word-wrap: break-word;
   max-width: 100%;
   font-size: 18px;
   line-height: 1.5;
 }
.my-message {
   color: #fff;
   align-self: flex-end;
}

.other-message {
   color: #333;
   align-self: flex-start;
}


/* Styling for the scrollbar */
.chat-container1::-webkit-scrollbar {
   width: 6px;
}

.chat-container1::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 3px;
}

.chat-container1::-webkit-scrollbar-track {
   background-color: transparent;
}

.chat-container2::-webkit-scrollbar {
   width: 6px;
}

.chat-container2::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 3px;
}

.chat-container2::-webkit-scrollbar-track {
   background-color: transparent;
}

.chat-container3::-webkit-scrollbar {
   width: 6px;
}

.chat-container3::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 3px;
}

.chat-container3::-webkit-scrollbar-track {
   background-color: transparent;
}

.chat-container4::-webkit-scrollbar {
   width: 6px;
}

.chat-container4::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 3px;
}

.chat-container4::-webkit-scrollbar-track {
   background-color: transparent;
}


* {
   list-style: none;
   text-decoration: none;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 34px;
   font-weight: 700;
   
}

#index_wrap ul {
   position: relative; /* 부모 요소의 position을 변경 */
   display: block;
   margin-bottom: 50px;
  
   top: 170px; /* 전체 요소를 위로 이동 */
}

#leftToRight ul {
   position: absolute;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 34px;
   font-weight: 700;
   line-height: normal;
   text-align: center;
   color: #000;
}

#leftToRight li:nth-child(1) { /* 첫 번째 li 요소 */
   position: absolute;
   font-family: "Noto Sans KR ";
   font-size: 34px;
   font-style: normal;
   left: 297px;
}

#leftToRight li:nth-child(2) { /* 두 번째 li 요소 */
   position: absolute;
   left: 677px;
}

#leftToRight li:nth-child(3) { /* 세 번째 li 요소 */
   position: absolute;
   left: 1056px;
}

#leftToRight li:nth-child(4) { /* 네 번째 li 요소 */
   position: absolute;
   left: 1435px;
}

#index_wrap ul li {
   position: relative;
   display: inline-block;
   margin: 0 20px;
   height: 40px;
   text-align: center;
   line-height: 30px;
   cursor: pointer;
}

#index_wrap ul p {
   font-size: 1.1rem;
   font-weight: 800;
}

#index_wrap ul li a {
   color: #000;
}

#leftToRight li::after {
   position: absolute;
   content: "";
   display: block;
   border-bottom: 3px solid #000;
   transition: width 250ms ease-out;
   left: auto;
   right: 0;
   width: 0;
}

#leftToRight li:hover::after {
   width: 100%;
   left: 0;
   right: auto;
}

.re{
   width: 46px;
   height: 46px;
   position: absolute;
   left: 1651px;
   top: 166px;
   background-image: url(../images/re.png);
   background-repeat: no-repeat;
   background-size: cover;
}


.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}