.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.e14_31 {
  overflow: hidden;
  margin : 0;
}

.e14_31 {
  background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
  width: 100vw;
  height: 100vh;
  /* max-height: 100vh;
  max-width: 177.78vh; */
  position: absolute;
}

.e14_33 {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
  background-color: rgba(253.0000001192093, 222.00000196695328, 69.00000348687172, 1);
  width: 746px;
  height: 863px;
  position: absolute;
  left: 587px;
  top: 109px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e14_57 {
  color: rgba(134.07422482967377, 131.39276951551437, 131.39276951551437, 1);
  width: 166px;
  height: 42px;
  position: absolute;
  left: 1024px;
  top: 799px;
  font-family: 'Noto Sans CJK KR regular';
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}

.e14_40 {
  width: 400px;
  height: 48px;
  position: absolute;
  left: 760px;
  top: 741px;
}

.e14_41 { /*  박스  */
  background-color: rgba(55.79890765249729, 49.05743859708309, 141.51171773672104, 1);
  width: 400px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.e14_42 {  /*  글자  */
  color: rgba(255, 255, 255, 1);
  width: 339.45947265625px;
  height: 26.399999618530273px;
  position: absolute;
  left: 29.879518508911133px;
  top: 6px;
  font-family: 'Noto Sans CJK KR bold';
  text-align: center;
  font-size: 26px;
  letter-spacing: 0;
}

.e14_34 {
  width: 415px;
  height: 58px;
  position: absolute;
  left: 750px;
  top: 645px;
}

.e14_35 {
  background-color: rgba(241.43983483314514, 241.43983483314514, 241.43983483314514, 1);
  width: 415px;
  height: 58px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.e14_36 {
  color: rgba(163.62499594688416, 163.62499594688416, 163.62499594688416, 1);
  width: 369px;
  height: 35px;
  position: absolute;
  left: 25px;
  top: 11px;
  font-family: 'Noto Sans CJK KR regular';
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
}

.e14_37 {
  width: 415px;
  height: 58px;
  position: absolute;
  left: 750px;
  top: 568px;
}

.e14_38 {
  background-color: rgba(241.43983483314514, 241.43983483314514, 241.43983483314514, 1);
  width: 415px;
  height: 58px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.e14_39 {
  color: rgba(163.62499594688416, 163.62499594688416, 163.62499594688416, 1);
  width: 369px;
  height: 35px;
  position: absolute;
  left: 25px;
  top: 12px;
  font-family: 'Noto Sans CJK KR regular';
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
}

.e14_43 {
  color: rgba(0, 0, 0, 1);
  width: 473px;
  height: 114px;
  position: absolute;
  left: 721px;
  top: 427px;
  font-family: 'Noto Sans CJK KR bold';
  text-align: center;
  font-size: 32px;
  letter-spacing: 0;
}

.e14_44 {
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:229px;
	height:229px;
	position:absolute;
	left:843px;
	top:179px;
  border-radius: 20%;
	background-image:url(../images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}



.login-wrapper {
  width: 400px;
  height: 350px;
  padding: 40px;
  box-sizing: border-box;
}

.login-wrapper>h2 {
  font-size: 24px;
  color: #6A24FE;
  margin-bottom: 20px;
}

#login-form>input[type = "text"]{
  background-color: rgba(241.43983483314514, 241.43983483314514, 241.43983483314514, 1);
  width: 369px;
  height: 45px;
  position: absolute;
  left: 775px;
  top: 573px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
  border-width: 0;
  outline: none;
  font-size: 26px;
  font-family: 'Noto Sans CJK KR regular';
}
#login-form>input[type="password"] {
  background-color: rgba(241.43983483314514, 241.43983483314514, 241.43983483314514, 1);
  width: 369px;
  height: 45px;
  position: absolute;
  left: 775px;
  top: 650px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
  border-width: 0;
  outline: none;
  font-size: 26px;
  font-family: 'Noto Sans CJK KR regular';
}

#login-form>input::placeholder {
  color: rgba(163.62499594688416, 163.62499594688416, 163.62499594688416, 1);
  font-size: 26px;
  text-align: left;
}

#login-form>button[type="submit"] {
  background-color: rgba(55.79890765249729, 49.05743859708309, 141.51171773672104, 1);
  color: rgba(255, 255, 255, 1);
  width: 400px;
  height: 48px;
  position: absolute;
  left: 760px;
  top: 741px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  font-family: 'Noto Sans CJK KR bold';
  font-size: 26px;
}

.e48_23{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 615px;
  top: 130px;
  background-image: url(../images/back_button.png);
  background-repeat: no-repeat;
  background-size: cover;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
