body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}

#App {
  background-color: rgba(186.0000041127205, 206.0000029206276, 224.000001847744, 1);
  position: relative;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/NotoSansKR-Light.woff2") format('woff2'),
    url("fonts/NotoSansKR-Light.woff") format('woff'),
    url("fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR regular';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/NotoSansKR-Regular.woff2") format('woff2'),
    url("fonts/NotoSansKR-Regular.woff") format('woff'),
    url("fonts/NotoSansKR-Regular.otf") format('truetype')
}


@font-face {
  font-family: 'Noto Sans CJK KR ';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/NotoSansKR-Medium.woff2") format('woff2'),
    url("fonts/NotoSansKR-Medium.woff") format('woff'),
    url("fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR bold';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/NotoSansKR-Bold.woff2") format('woff2'),
    url("fonts/NotoSansKR-Bold.woff") format('woff'),
    url("fonts/NotoSansKR-Bold.otf") format('truetype')
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
